@import '../../app.component.scss';
.type1{
    .text{
        overflow: hidden;
        color: #555;
        font-size: 12px;
        display: left;
        width: auto;
        padding-left: 5px;
        padding-right: 15px;
        .pre{
            padding-left: 3px;
        }
        .mid{
            color: #3479df;
        }
        .after{

        }
    }
    .box{
        margin-left: 15px;
        width: 19px;
        height: 19px;
        float: left;
        display: inline-block;
        background: #fff;
        border: 1px solid #e1e3e6;
        border-radius: 3px;
        vertical-align: middle;
    }
    .chosed{
        background: url(/src/images/on.png);
        background-size: 100% 100%;
    }
}

:host(.insurance1){
    .type1{
        margin-top: 14px;
    }
}