.zl-tab {
    left: 0;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    
    > .tabs {
        background-color: #fbfbfb;
        overflow: hidden;
        padding-top: 5px;

        a{
            display: inline-block;
            width: 33%;
            float: left;
        }
        span{
            text-align: center;
            display: inline-block;
            width: 100%;
        }
    }
    .tab-item {
        color: #979899;
        font-size: 10px;
        line-height: 72px;
        height: 50px;
        background-position: center 5px;
        background-repeat: no-repeat;
        background-size: 22.5px;
    }
    .tab-item-active {
        color : #4279d6;
    }
    .icon-hot {
        background-image: url(../images/icon-hot.png);
        &.tab-item-active {
            background-image: url(../images/icon-hot-active.png);
        }
    }
    .icon-list {
        background-image: url(../images/icon-fiance.png);
        &.tab-item-active {
            background-image: url(../images/icon-fiance-active.png);
        }
    }
    .icon-my {
        background-image: url(../images/icon-my.png);
        &.tab-item-active {
            background-image: url(../images/icon-my-active.png);
        }
    }
}
