<div align-title="left" class="market-tab">
    <div class="zl-tab tabs-bottom">
        <div class="tab-nav tabs ">
            <a  (click)="goTab('hotProduct')" class="icon-hot tab-item" title="精选" [ngClass]="{'tab-item-active' : state == 'hot'}"><span class="tab-title">精选</span></a>
            <a  (click)="goTab('productList')" class="icon-list tab-item" title="理财" [ngClass]="{'tab-item-active' : state == 'list'}"><span class="tab-title">理财</span></a>
            <a  (click)="goTab('myProduct')" class="icon-my tab-item" title="我的" [ngClass]="{'tab-item-active' : state == 'my'}"><span class="tab-title">我的</span></a>
        </div>
    </div>
</div>