
<div class="fm-allProductList" id="HP-view">
    <!--<div *ngIf="!params.fromHot" class="top-filter">
        <div class="top-filter-cate ui-border-b">
            <a href="javascript:;" *ngFor=" let (key, type) of productTypes" ng-class="{active: +params.productType == +key}" ng-click="changeType(key)">{{type}}</a>
        </div>
        <div class="top-filter-extra ui-border-b clearfix">
            <label class="product-filter-item">{{jdbData.selectP[0].text || '全部产品'}}
                <jdb-custom-picker
                    class="product-filter-item"
                    custom-data="dateSelect"
                    select-objects = "jdbData.selectP"
                    ng-model="params.duration"
                    picker-ctl="pick1.pickerCtlP"
                    >
                </jdb-custom-picker>
                <i class="ion-ios-arrow"></i>
            </label>
            <label class="product-filter-item">{{jdbData.selectO[0].text || '综合排序'}}
                <jdb-custom-picker
                    class="product-filter-item"
                    custom-data="hotSelect"
                    select-objects = "jdbData.selectO"
                    ng-model="params.orderBy"
                    picker-ctl="pick2.pickerCtlO"
                    >
                </jdb-custom-picker>
                <i class="ion-ios-arrow"></i>
            </label>
        </div>
    </div>-->
    <div class="allProductList">
        <ul class="pro-list">
            <div class="list-contain" *ngFor="let item of productList" (click)="goDetail(item.productId, item.businessType)">
                <div *ngIf="$index < 3" ng-class="'rank-'+$index"></div>
                <div class="pro-item clearfix">
                    <div class="pro-item-left ui-border-r">
                        <p class="pro-item-rate">{{item.rate}}%<span *ngIf="item.activityType" class="rate-add">＋{{item.extraRate}}%</span></p>
                        <p class="pro-item-desc">{{item.rateType}}</p>
                    </div>
                    <div class="pro-item-right">
                        <p class="pro-item-name">{{item.productName}}</p>
                        <p class="pro-item-info"><span class="pro-item-label">{{productTypes[item.productType]}}</span>{{item.slogan}}</p>
                    </div>
                </div>
                <div *ngIf="item.productType == 2">
                    <div class="pro-item-meta ui-border-t" *ngIf="item.activityType" ng-bind-html="newbieHasBorrow ? '当前可购买<span>' + newbieLeftAvailableAmount + '</span>元' : '获取购买机会' | trust">
                    </div>
                    <div *ngIf="!item.activityType" class="pro-item-meta ui-border-t">
                        {{item.status==1 ? ('还有' + item.leftTime + '开抢') : item.status==2 ? ('截止时间' + (item.endDate|date:'yyyy-MM-dd')) : '已抢光'}}
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <app-tab [state]="list"></app-tab>
</div>
