@import '../../../app/app.component.scss';
.trade-financial-market{ 
    .allHotProduct{ 
        background: #f5f7fa;
        margin:0;
        padding: 0;

        .no-product {
            width: 100%;
            height: 265px;
            background-color: #fff;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
            padding-top: 45px;
            margin-bottom: 8px;
            @include onepx-border-horizontal(#e6e8eb);
            p{ 
                margin: 0;
                padding: 0;
            }
            .box {
                width: 86px;
                height: 61.5px;
                background: url(/images/no-product.png) no-repeat;
                background-size: 100% 100%;
                margin: 0 auto;
            }
            .firstTip {
                color: #969799;
                text-align: center;
                margin-top: 10px;
                line-height: 20px;
                font-size: 14px;
            }
            .secondTip {
                color: #969799;
                text-align: center;
                line-height: 20px;
                font-size: 14px;
                padding-left: 6px;
                padding-top: 1px;
                .licai {
                    display: inline-block;
                    width: 20px;
                    height: 19px;
                    background: url(/images/no-hot-img.jpg);
                    background-size: 100% 100%;
                    position: relative;
                    top: 4px;
                    left: 2px;
                }
                .after {
                    padding-left: 4px;
                }
            }
            .flyButton {
                width: 120px;
                height: 39px;
                color: #3479df;
                font-size: 16px;
                line-height: 39px;
                text-align: center;
                margin: 0 auto;
                margin-top: 20px;
            }
        }

        .topBanner{ 
            height: 150px;
            width: 100%;
            background: url("/images/newBanner.png") no-repeat;
            background-size: 100% 100%;
            // margin-bottom:10px;
        }
        .topSelect{ 
            width: 100%;
            height: 84px;
            font-size: 13px;
            color:#19191a;
            padding-top: 1px;
            display: none;
            @include onepx-border-horizontal(#e6e8eb);

            span{ 
                color: #19191a;
                font-size: 13px;
                position: relative;
                width: 100%;
                display: inline-block;
                margin-top: 5px;
            }

            .topNav{ 
                width: 46%;
                height: 83px;
                float: left;
                position: relative;
                background: #fff;
                padding-top: 16px;

                .new{ 
                    width: 17px;
                    height: 17px;
                    background: url(/images/newPro.jpg) no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    right: -17px;
                    top: -6px;
                }
            }
            .fix{ 
                width: 27%;
                .fixImage{
                    width: 28px;
                    height: 25.5px;
                    background: url(/images/fixTab.jpg) no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    right: 17px;

                }
                .fixSpan{ 
                    text-align: right;
                    top: 28px;
                    padding-right: 5px;
                }
            }
            .insurance{ 
                .insuranceImage{
                    width: 26px;
                    height: 23px;
                    background: url("/images/insuranceTab.jpg") no-repeat;
                    background-size: 100% 100%;
                    margin: 0 auto;
                }
                .insuranceSpan{ 
                    text-align: center;
                    top: 6px;
                }
                .insuranceNew{ 
                    margin-left: 28px;
                    top: 8px;
                    right: auto;
                }
            }
            .fund{
                width: 27%;
                padding-left: 14px;

                .fundImage{
                    width: 28px;
                    height: 23px;
                    background: url("/images/fundTab.jpg") no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    left: 14px;
                }
                .fundSpan{ 
                    text-align: left;
                    top: 29px;
                }
            }
        }
        .topTitle{ 
            height: 44px;
            line-height: 44px;
            font-size: 14px;
            color: #656566;
            padding-left: 20px;
            position: relative;
            background: #fff;

            &:before{ 
                position: absolute;
                display: inline-block;
                content: "";
                top: 11.5px;
                left: 0px;
                width: 4px;
                height: 21px;
                line-height: 44px;
                background: #3479df;
            }
        }
        .hot-allProduct-Con{ 
            margin-bottom:25px;
            @include onepx-border-top(#e6e8eb);

            .item-top {
                font-size: 12px;
                background-color: #fff;

                .content {
                    height: 95px;
                    text-align: center;
                    @include onepx-border-bottom(#e6e8eb);

                    .wrapperRight{ 
                        &:after {
                            position: absolute;
                            content: "";
                            top: 21px;
                            left: 0px;
                            width: 1px;
                            height: 53px;
                            background: #e1e3e6;
                        }
                    } 
                    .wrapper {
                        position: relative;
                        float: left;
                        width: 45%;

                        .textContainer {
                            padding: 23px 0 3px 20px;
                            overflow: hidden;
                        }
                        &.wrapperRight {
                            width: 55%;
                        }
                        .rate {
                            font-size: 16px;
                            color: #969799;
                            line-height: 1.0;
                            padding-top: 20px;
                            color: #d53d3d;
                            .num {
                                
                                font-size: 28px;
                                color: #f35833;
                                font-weight: 300;
                                position: relative;
                                left: 3px;
                            }
                            .afternum {
                                
                                font-size: 24px;
                                color: #d53d3d;
                                font-weight: 300;
                            }
                            .percent {
                                font-size: 14px;
                            }
                        }
                        .duration {
                            font-size: 12px;
                            color: #969799;
                            line-height: 1.0;
                            text-align: left;
                            margin-bottom: 6px;

                            span {
                                font-size: 16px;
                                color: #656566;
                            }
                        }
                        .tipLeft {
                            float: left;
                            border-radius: 3px;
                            color : #f35833;
                            line-height: 16px;
                            margin-top: 5px;
                            height: 20px;
                            padding-left: 5px;
                            padding-top: 1px;
                            padding-right: 5px;

                            span {
                                padding: 0 3px;
                                font-size: 12px;
                                position: relative;
                                top: 1px;
                            }
                        }
                        .tipRight {
                            float: left;
                            margin-left: 9px;
                            line-height: 14px;
                            font-size: 13px;
                            margin-top: 9px;
                            color: #979899;
                        }
                    }
                    .text {
                        color: #979899;
                        margin-top: 4px;
                        line-height: 20px;
                        font-size: 12px;
                        font-weight: 400;
                    }
                    .productName {
                        color: #646566;
                        margin-top: 9px;
                        line-height: 16px;
                        text-align: left;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .display{
        background: red;
    }
    .none{
        background: blue;
    }
}

.market-tab{ 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fff;
}
