
<div *ngIf='type == 1'>
    <div class="detailItem" *ngFor="let remark of list;let i = index;">
        <div class="contentContainer">
            <div class="titleImage bg{{remark?.bg}}"></div><span class="titleTip">{{ remark?.title }}</span>
            <p class="itemContent">{{ remark?.content }}</p>
        </div>
    </div>
</div>

<div class='detailList' *ngIf="type == 2">
    <div class="contentContainer">
        <div class="titleImage"></div><span class="imgTitle">产品信息</span>
        <div class="tableContainer" *ngFor="let item of productImfor" >
            <span class="title">{{ item?.title }}</span>
            <span class="content">{{ item?.content }}</span>
        </div>
        <div class="extra">
            <p class="noteContainer" *ngFor="let p of extraList">
                {{p}}
            </p>
        </div>
    </div>
    <div class="relativePaper" (click)="toProtocol()" id="agreementUrl">查看相关文件</div>
</div>

<div class="protocolContainer" *ngIf="type == 3">
    <div class="introduceContainer" (click)="click()" *ngFor="let url of urls">
        <p class="title">{{url.title}}</p> 
        <div class="arrowContain">
            <div class="arrow"></div>
        </div>
    </div>
</div>