<ion-content class="fundDetail">

    <app-detail-header [headerParam]='headerParam' [type]="2"></app-detail-header>

    <div class="stateTabContaienr">
        <div class="tab" (click)="changeState(1)" [ngClass]="{'showSum' : +state == 1}">累计收益率</div>
        <div class="tab" (click)="changeState(2)" [ngClass]="{'showSum' : +state == 2}">单位净值</div>
    </div>
    <div *ngIf="+state==1">
        <div class="tabContainer">
            <span class="ui-border-timeBorder" (click)="changeTime(1)" [ngClass]="{'clicked' : +clicked == 1}">近三月</span>
            <span class="ui-border-timeBorder" (click)="changeTime(2)" [ngClass]="{'clicked' : +clicked == 2}">近半年</span>
            <span class="ui-border-timeBorder" (click)="changeTime(4)" [ngClass]="{'clicked' : +clicked == 4}">近一年</span>
            <span class="ui-border-timeBorder" (click)="changeTime(3)" [ngClass]="{'clicked' : +clicked == 3}">今年以来</span>
        </div>
        <p class="found">
            <span class="circle brownCircle"></span>
            <span class="thisFound">本基金:</span>
            <span class="thisNum"  [ngClass]="{'plus' : +echartData?.fundYieldRat>0,'equal' : +echartData?.fundYieldRat==0,'minus' : +echartData?.fundYieldRat<0}"><span *ngIf="echartData?.fundYieldRate>0">+</span>{{echartData?.fundYieldRate}}%</span>
            <span class="circle blueCircle"></span>
            <span class="thisFound">沪深300:</span>
            <span class="otherNum"  [ngClass]="{'plus' : +echartData?.stockYieldRate>0,'equal' : +echartData?.stockYieldRate==0,'minus' : +echartData?.stockYieldRate<0}"><span *ngIf="echartData?.stockYieldRate>0">+</span>{{echartData?.stockYieldRate}}%</span>
        </p>
    </div>
    <div *ngIf="+state==2">
        <p class="found">
            <span class="unit">月涨幅:</span>
            <span class="otherNum"  [ngClass]="{'plus' : +echartData?.monthChange>0,'equal' : +echartData?.monthChange==0,'minus' : +echartData?.monthChange<0}"><span *ngIf="echartData?.monthChange>0">+</span>{{echartData?.monthChange}}%</span>
        </p>
    </div>

    <app-echart [option]='option'></app-echart>

    <!--<app-test-directive [test]="test"></app-test-directive>-->

    <app-detail-list [urls]='urls' class="fund" [type]='3'></app-detail-list>
    
</ion-content>
