
<div *ngIf='type == 1' class="type1">
    <div class="detailItem" *ngFor="let remark of list;let i = index;">
        <div class="contentContainer">
            <div class="titleImage bg{{remark?.bg}}"></div><span class="titleTip">{{ remark?.title }}</span>
            <p class="itemContent">{{ remark?.content }}</p>
        </div>
    </div>
</div>

<div class="type2" *ngIf="type == 2">
    <div class="introduceContainer" (click)="type2Click(url?.url)" *ngFor="let url of list">
        <p class="title">{{url.title}}</p> 
        <div class="arrowContain">
            <div class="arrow"></div>
        </div>
    </div>
</div>

<form [formGroup]="form" class="type3" *ngIf="type == 3">
    <li *ngFor="let item of list;let i = index" [ngClass]="{textareaHeight : item?.textarea}">
        <span class="fl l">{{ item?.left }} </span>
        <div class="liContainer">
            <div class="fr r" *ngIf="item?.right || item?.unit ">
                <span class="s1">{{ item?.right }}</span>
                <span class="s2">{{ item?.unit }}</span>
            </div>
            <div class="fr r" *ngIf="item?.needArrow">
                <span class="arrowText">{{item?.arrowText}}</span>
                <span class="arrow"></span>
            </div>
            <div class="input-container" *ngIf="item?.input">
                <input type="text" class="text"   [(ngModel)]="item.inputModel" formControlName="input" placeholder="{{item?.placeholder}}" />
            </div>
            <div class="textarea-container" *ngIf="item?.textarea">
                <textarea class="detail-address"  [(ngModel)]="item.inputModel" formControlName="inputArea" placeholder="{{item?.textareaPH}}" ></textarea>
            </div>
        </div>
    </li>
</form>

<div *ngIf="type == 4">
    <div class="type4" *ngFor="let item of list" (click)="clickDetail(detail)">
        <div class="statusContainer">
            <p class="crossLine"></p>
            <p class="name">{{item?.name}}</p>
            <p class="text {{item?.text.class}}">{{item?.text.tip}}</p>
        </div>
        <div class="number">
            <span class="ammount">{{ +item?.totalAmount | number : '1.2-2' }}</span>
            <span class="earn">{{ +item?.expectIncome | number : '1.2-2' }}</span>
        </div>
        <div class="number tip">
            <span class="ammount ammountTip">已投金额(元)</span>
            <span class="earn earnTip" *ngIf="item?.repayText">预期收益(元)</span>
            <span class="earn earnTip" *ngIf="!item?.repayText">最新收益(元)</span>
        </div>
        <p class="desc" *ngIf="item?.repayText">{{item?.repayText}}</p>
    </div>
</div>