<section class="bannerTop">
    <!--<a href="javascript:return false;" src="./images/insuranceDetail.png">-->
    <a href="javascript:return false;">
        <p class="title licaiTitle">
            <span class="middle"><span class="left">·</span>{{ headerParam?.productName }}<span class="right">·</span></span>
        </p>
        <p class="shortTitle">由{{headerParam?.companyName}}提供</p>
        <p class="earnNum">
            <span class="ammount">{{headerParam?.rate}}</span>
            <span class="percent"> %</span>
        </p>
        <p class="earnTip">预期年化收益率</p>
    </a>
</section>