@import '../../../app/app.component.scss';

.productDetail{
    background: #f5f7fa;
}

ion-footer{
    margin: 0;
    height: 68px;
    padding: 10px 13px;
    border-radius: 3px;
}

.moneyTip{
    width: 11px;
    height: 13px;
    background: url(../images/moneyTip.png) no-repeat;
    background-size: 100% 100%;
}

.detailChart{
    position: relative;
    top: -20px;
    padding-left: 10px;
    background: #fff;
    height: 232px;
    margin-bottom: 48px;
}

.specialTable {
    margin: 10px 20px 0 15px;
    color: #646566;
    .tableTitle {
        overflow: hidden;
        width: 100%;
        color: #979899;
        line-height: 23px;
        font-size: 12px;
        .titleLeft {
            float: left;
            width: 37%;
            background-color: #f0f2f5;
            padding-left: 5px;
            @include border-radius(#f0f2f5,0.1px,2px);
        }
        .titleRight {
            float: left;
            width: 61%;
            padding-left: 5px;
            background-color: #f0f2f5;
            margin-left: 2px;
            @include border-radius(#f0f2f5,0.1px,2px);
        }
    }
    .lineContainer {
        overflow: hidden;
        font-size: 12px;
        margin-top: 2px;

        .titleContainer {
            float: left;
            width: 37%;
            font-size: 12px;
            padding-left: 6px;
            padding-right: 6px;
            @include border-radius(#e8e9eb,0.1px,2px);
        }
        &.f{
            height: 47px;
            line-height: 47px;
        }
        &.s,&.t{
            height: 66px;
            line-height: 66px;
        }
        .lineContentContainer {
            float: left;
            font-size: 12px;
            padding-left: 10px;
            width: 61%;
            margin-left: 2px;
            @include border-radius(#e8e9eb,0.1px,2px);

            .fContent{
                line-height: 47px;
            }
            .sContent,.tContent{
                line-height: 22px;
            }
        }
        .highContainer {
            height: 65px;
            span {
                line-height: 12px;
            }
        }
    }
}