<ion-content class="fixDetail">

    <app-header [headerParam]='headerParam' [type]="1"></app-header>

    <div class='detailList'>
        <div class="contentContainer">
            <div class="titleImage"></div><span class="imgTitle">产品信息</span>
            <div class="tableContainer" *ngFor="let item of productImfor" >
                <span class="title">{{ item?.title }}</span>
                <span class="content">{{ item?.content }}</span>
            </div>
            <div class="extra">
                <p class="noteContainer" *ngFor="let p of extraList">
                    {{p}}
                </p>
            </div>
        </div>
        <app-protocol [param]="protocol" [type]='2'></app-protocol>
    </div>

    <!--<app-list class="fix" [type]='2' [productImfor]='productImfor' [extraList]='extraList'></app-list>-->

    <app-list [list]='list' class="fix1-detail" [type]='1'></app-list>

</ion-content>


<ion-footer align-title="center">
    <app-footer-button [status]='status' [url]="url"></app-footer-button>   
</ion-footer>
 
