.desc-right{
    color: #7a8699;
    font-size: 12px;
    text-align: right;
    padding: 5px 15px 5px 0;
    span{
        color: #d43f3e;
    }
}
ion-footer{
    position: relative;
    width: 92%;
    margin: 20px auto;
}