.desc-right{
    color: #7a8699;
    font-size: 12px;
    text-align: right;
    padding: 5px 15px 5px 0;
    span{
        color: #d43f3e;
    }
}
.protocol{
    padding-left: 15px;
    .box{
        width: 19px;
        height: 19px;
        display: inline-block;
        background: #fff;
        border: 1px solid #e1e3e6;
        border-radius: 3px;
        vertical-align: middle;
    }
    .chosed{
        background: url(/src/images/on.png);
        background-size: 100% 100%;
    }
    .text{
        padding-left: 3px;
    }
    span{
        color: #555;
        font-size: 12px;
    }
    .proText{
        color: #3479df;
    }
}
ion-footer{
    position: relative;
    width: 92%;
    margin: 20px auto;
}