<ion-content class="productDetail has-footer has-subfooter">

    <app-detail-header [headerParam]='headerParam' [type]="1"></app-detail-header>

    <app-detail-list class="fix" [type]='2' [productImfor]='productImfor' [extraList]='extraList'></app-detail-list>

    <app-detail-list [list]='list' class="fix" [type]='1'></app-detail-list>

</ion-content>


<ion-footer align-title="center" class="fm-button">

    <app-footer-button [status]='status' class="fm-button test"></app-footer-button>   
      
</ion-footer>
 
