@import '../../../app/app.component.scss';
.fixDetail{
    background: #f5f7fa;
    .detailList{
        overflow: hidden;
        background: #fff;
        margin-bottom: 10px;
        .relativePaper{
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 14px;
            color: #4279d6;
            @include onepx-border-top(#e6e8eb);
        }
        .noteContainer{
            line-height: 20px;
            padding: 15px 15px 15px 20px;
            color: #afb0b3;
            font-size: 12px;
            position: relative;
        }
        .contentContainer{
            margin-top: 20px;
            .titleImage{
                width: 10px;
                height: 11px;
                position: relative;
                margin-left: 15px;
                float: left;
                top: 4px;
                background: url(/src/images/productExplain.png) no-repeat;
                background-size: 100% 100%;
            }
            .imgTitle{
                color: #4279d6;
                margin-left: 5px;
            }

            .tableContainer{
                padding: 0 20px 0 5px;
                line-height: 48px;
                margin-left: 15px;
                font-size: 14px;
                color: #19191a;
                height: 48px;
                height: 48px;
                @include onepx-border-bottom(#e6e8eb);
                
                .title{
                    float: left;
                }
                .content{
                    float: right;
                }
            }
        }
    }
}

ion-footer{
    margin: 0;
    height: 68px;
    padding: 10px 13px;
    border-radius: 3px;
    background: #fff;
}