<ion-content class="fm-allProductList">
    <div class="top-filter">
        <div class="top-filter-cate ui-border-b">
            <span href="javascript:;" *ngFor="let item of productType;let i = index;" [class.ptActive]="+i == ptIndex" (click)="changeType(i)">{{item}}</span>
        </div>
    </div>
    <div class="allProductList">
        <ul class="pro-list">
            <div class="list-contain" *ngFor="let item of productList" (click)="goDetail(item)">
                <div *ngIf="$index < 3" ng-class="'rank-'+$index"></div>
                <div class="pro-item clearfix">
                    <div class="pro-item-left ui-border-r">
                        <p class="pro-item-rate">{{item.rate}}%<span *ngIf="item.activityType" class="rate-add">＋{{item.extraRate}}%</span></p>
                        <p class="pro-item-desc">{{item.rateType}}</p>
                    </div>
                    <div class="pro-item-right">
                        <p class="pro-item-name">{{item.productName}}</p>
                        <p class="pro-item-info"><span class="pro-item-label">{{productTypes[item.productType]}}</span>{{item.slogan}}</p>
                    </div>
                </div>
                <div *ngIf="item.productType == 2">
                    <div class="pro-item-meta ui-border-t" *ngIf="item.activityType" ng-bind-html="newbieHasBorrow ? '当前可购买<span>' + newbieLeftAvailableAmount + '</span>元' : '获取购买机会' | trust">
                    </div>
                    <div *ngIf="!item.activityType" class="pro-item-meta ui-border-t">
                        {{item.status==1 ? ('还有' + item.leftTime + '开抢') : item.status==2 ? ('截止时间' + (item.endDate|date:'yyyy-MM-dd')) : '已抢光'}}
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <app-tab [state]="state"></app-tab>
</ion-content>
