@import '../../../app/style/tab.scss';
.fm-allProductList{ 
    background: #f5f7fa;
    padding: 0;
    margin: 0;

    p,span,h1,h2,h3,h4,h5,h6,div,ul,li{
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .product-filter-item {
        float: left;
        color: #656566;
        width: 33.3333%;
        padding: 3px 0;
        text-align: center;
        font-size: 14px;
        padding: 0;
        margin: 0;
        line-height: 44px;
        width: 50%;
        > .ion-ios-arrow {
            display: inline-block;
            margin-left: 5px;
            width: 8px;
            height: 5px;
            background: url(../images/all-pro-arrow.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: relative;
            top: -2.5px;
        }
        input{ 
            display: none;
        }
    }

    .allProductList{ 
        top: 86px;
        position: relative;
        .pro-banner {
            height: 110px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            &.type-2 {
                background-image: url(../images/jiuxinNew.jpg);
            }
            &.type-3 {
                background-image: url(../images/insuranceBanner.jpg);
            }
            &.type-4 {
                background-image: url(../images/fundBanner.png);
            }
        }

        .pro-list {
            font-weight: 300;
            .list-contain{
                position: relative;
                margin-top: 10px;
                background-color: #fff;
            }
            .rank-0,
            .rank-1,
            .rank-2 {
                position: absolute;
                left: 0;
                top: 0;
                border-color: #f35833 transparent transparent transparent;
                border-style: solid;
                border-width: 20px 20px 0 0;
                &:before {
                    position: absolute;
                    left: 1px;
                    top: -23px;
                    font-size: 12px;
                    color: #fff;
                    
                }
            }
            .rank-0:before {
                content: "1";
            }
            .rank-1:before {
                content: "2";
            }
            .rank-2:before {
                content: "3";
            }
        }

        .pro-item {
            padding: 20px 0;    
        }

        .pro-item-left {
            float: left;
            width: 45%;
            text-align: center;
        }

        .pro-item-right {
            float: right;
            width: 55%;
            margin-top: 6px;
        }

        .pro-item-rate {
            font-size: 28px;
            color: #f35833;
            // margin-bottom: 10px;
            .rate-add {
                font-size: 18px;
            }
        }

        .pro-item-desc {
            font-size: 12px;
            color: #979899;
        }

        .pro-item-name {
            font-size: 16px;
            color: #656566;
            margin-bottom: 10px;
        }

        .pro-item-info {
            color: #979899;
            font-size: 13px;
            line-height: 20px;
        }

        .pro-item-label {
            border-radius: 2px;
            border: 1px solid #f35833;
            font-size: 12px;
            color: #f35833;
            padding: 1px 5px;
            margin-right: 10px;
        }

        .pro-item-meta {
            text-align: center;
            font-size: 14px;
            color: #979899;
            padding: 7px 0;
            > span {
                color: #f35833;
            }
        }
    }

    .tab-view {
        background-color: #f5f7fa;
    }

    .top-filter {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 88px;
        background: #fff;
        color: #656566;
        font-size: 14px;
        padding-top: 0;
        z-index: 11;
        ~ion-content {
            padding-top: 88px;
        }
    }
    .top-filter-cate {
        padding: 0 4%;
        background: #508cee;
        height: 44px;
        
        span {
            color: #ffffff;
            opacity: .4;
            display: inline-block;
            padding: 12px 0;
            width: 33%;
            text-align: center;
            text-decoration: none;
        }
        .active {
            color: #ffffff;
            opacity: 1;
            position: relative;
        }
        .ptActive{
            opacity: 1;
        }
    }

    .item-select {
        height: 100%;
        select {
            width: 100%;
            max-width: 100%;
            color: #656566;
            font-size: 14px;
            background: transparent;
            position: absolute;
            left: 40%;
            margin-left: -34px;
            direction: initial;
        }
    }

    .all-pro-item-select {
        height: 100%;
        width: 50%;
        position: relative;

        select {
            float: left;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            height: 44px;
            line-height: 44px;
            border: none;
            text-overflow: '';
            white-space: nowrap;
            color: #656566;
            font-size: 14px;
            background: transparent;
            padding-left: 40%;
            direction: initial;
        }
        .arrow{ 
            color: #999;
            width: 8px;
            height: 5px;
            background: #999;
            position: relative;
            margin: 0;
            padding: 0;
            top: 50%;
            background: url(../images/all-pro-arrow.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            float: left;
            margin-top: -3px;
        }
    }

    .s-item-select{ 
        select{ 
            padding-left: 18%;
        }
    }

    .item-select-view {
        position: absolute;
        left: 0;
        top: 3px;
        height: 100%;
        color: #656566;
        padding: 0 38px 0 16px;
        text-align: center;
        // @include text-overflow;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        ~ select {
            opacity: 0;
        }
    }

    .top-filter-extra {
        height: 44px;
        padding: 0 10%;
        .item-select {
            width: 49%;
            &:after {
                color: #cacbcc;
                right: 15%;
            }
        }
    }

    .pro-no {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 110px;
        margin-left: -50%;
        text-align: center;
        font-size: 14px;
        color: #979899;
        background: url(../images/no-product.png) top center no-repeat;
        background-size: 80px auto;
        padding: 65px 15px 0;
        z-index: 11;
        
        &.pro-pop {
            top: 80px;
        }
        .button {
            margin-top: 80px;
        }
    }
}
.platform-android{
    .fm-allProductList{ 
        .top-filter { 
            ~ion-content{ 
                bottom:44px;
            }
        }
    }
    .allProductList{ 
        .pro-list{ 
            margin-bottom: 10px;
        }

    }
}

