@import '../../../../app/app.component.scss';

.insuranceDetail{
    background: #f5f7fa;

    //产品信息
    .detailList{
        background: #fff;
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        @include onepx-border-horizontal(#e6e8eb);
        .noteContainer{
            line-height: 20px;
            padding: 15px 15px 15px 20px;
            color: #afb0b3;
            font-size: 12px;
            position: relative;
        }
        .titleImage{
            width: 10px;
            height: 11px;
            position: relative;
            margin-left: 15px;
            float: left;
            top: 2px;
            background: url(/src/images/productExplain.png) no-repeat;
            background-size: 100% 100%;
        }
        .imgTitle{
            color: #4279d6;
            margin-left: 5px;
            font-size: 12px;
        }
        .tableContainer {
            font-size: 14px;
            line-height: 14px;
            clear: both;
            padding: 10px 20px 0px 28px;
            color: #646566;
            .title {
                display: inline-block;
                width: 70px;
            }
            .tableContent {
                padding-left: 14px;
            }
        }
        .contentContainer{
            .extra{
                margin-top: 20px;
                p:first-child{
                    position: relative;
                    top: 0px;
                    line-height: 20px;
                    color: #afb0b3;
                    font-size: 12px;
                    padding-left: 28px;
                }
                .noteContainer{
                    padding: 0 15px 0 50px;
                    top: -20px;
                }
            }
        }
    }

    //最下表格
    .specialTable {
        margin: 10px 20px 0 15px;
        color: #646566;
        .tableTitle {
            overflow: hidden;
            width: 100%;
            color: #979899;
            line-height: 23px;
            font-size: 12px;
            .titleLeft {
                float: left;
                width: 37%;
                background-color: #f0f2f5;
                padding-left: 5px;
                @include border-radius(#f0f2f5,0.1px,2px);
            }
            .titleRight {
                float: left;
                width: 61%;
                padding-left: 5px;
                background-color: #f0f2f5;
                margin-left: 2px;
                @include border-radius(#f0f2f5,0.1px,2px);
            }
        }
        .lineContainer {
            overflow: hidden;
            font-size: 12px;
            margin-top: 2px;

            .titleContainer {
                float: left;
                width: 37%;
                font-size: 12px;
                padding-left: 6px;
                padding-right: 6px;
                @include border-radius(#e8e9eb,0.1px,2px);
            }
            &.f{
                height: 47px;
                line-height: 47px;
            }
            &.s,&.t{
                height: 66px;
                line-height: 66px;
            }
            .lineContentContainer {
                float: left;
                font-size: 12px;
                padding-left: 10px;
                width: 61%;
                margin-left: 2px;
                @include border-radius(#e8e9eb,0.1px,2px);

                .fContent{
                    line-height: 47px;
                }
                .sContent,.tContent{
                    line-height: 22px;
                }
            }
            .highContainer {
                height: 65px;
                span {
                    line-height: 12px;
                }
            }
        }
    }
    .detailChart{
        margin-top: -20px;
        padding-left: 10px;
        background: #fff;
        height: 232px;
    }

}

ion-footer{
    margin: 0;
    height: 68px;
    padding: 10px 13px;
    border-radius: 3px;
    background: #fff;
}
