.button-container{
    width: 100%;
    text-align: center;
    background-color: #3479df;
    font-size: 16px;
    border-radius: 3px;
    a{
        line-height: 48px;
        color: white;
        width: 100%;
    }
}